<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="pokemonData.pokemonDetail">
    <ion-item lines="none">
        <!-- <ion-thumbnail slot="start">
            <img alt="Pokemon sprite" [src]="gameboySpriteUrl" />
        </ion-thumbnail> -->

        <ion-label class="ion-text-wrap">

            <h1>
                {{ pokemonData.pokemonDetail.name | titlecase }}
            </h1>
            <ion-badge *ngFor="let type of pokemonData.pokemonDetail.types;" [ngClass]="getTypeColor(type.type.name)">
                {{ type.type.name }}
            </ion-badge>
            
        </ion-label>


        <ion-label id="label-small">
            <p>XP</p>
            <h1>{{ pokemonData.pokemonDetail.base_experience }}</h1>
        </ion-label>
        <ion-label  id="label-small">
            <p>Height</p>
            <h1>{{ pokemonData.pokemonDetail.height }}</h1>
        </ion-label>
        <ion-label  id="label-small">
            <p>Weight</p>
            <h1>{{ pokemonData.pokemonDetail.weight }}</h1>
        </ion-label>

    </ion-item>

    <div class="ion-padding">
        <img class="pokemon-sprite" [src]="spriteUrl" alt="Pokemon sprite" >
        <ion-segment value="default">
            <ion-segment-button value="default">
                <ion-label>Stats</ion-label>
            </ion-segment-button>
            <ion-segment-button value="segment">
                <ion-label>Moves</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

</ion-content>